<mat-card class="example-card">
    <h2>Book Cart</h2>

<button mat-flat-button color="primary" (click)="wishList()">Wishlisted</button>

<button mat-flat-button color="primary" (click)="cartitem()">Add to Cart</button>

<button mat-flat-button color="primary" (click)="removed()">Item removed</button>


<button mat-flat-button color="primary" (click)="clearWish()">Wishlist Cleared</button>


<button mat-flat-button color="primary" (click)="increasecartItem()">One Item increased</button>


<button mat-flat-button color="primary" (click)="decCartItem()">One Item decreased</button>


<button mat-flat-button color="primary" (click)="cartItemdelete()">Product removed</button>

<button mat-flat-button color="primary" (click)="clearCart()">Clear Cart</button>

<button mat-flat-button color="primary" (click)="placeOrder()">Place Order</button>
</mat-card>


