.container{
    border: 3px solid grey;
    position:relative;
   margin: 25px;
    padding: 10px;
    
}

mat-card{
    max-width:1000px
}
.example-card{
    
    max-width: 1000px;
    border: 3px solid grey;
    position:relative;
   margin: 25px;
    padding: 10px;
    
  
}